<ion-view view-title="Credits">
  	<ion-content>
  		<div class="list card">
  			<div class="item">
				<h2 style="text-align: center">Ángel Navas</h2>
     			<h3 style="text-align: center">Disenyo y fabricación</h3>
  			</div>
  			<div class="item">
				<h2 style="text-align: center">Frizzy.es</h2>
     			<h3 style="text-align: center">Electrónica y conectividad</h3>
  			</div>
  			<div class="item">
				<h2 style="text-align: center">Pablo Medina</h2>
     			<h3 style="text-align: center">Desarrollo App</h3>
  			</div>
  			<div class="item">
				<h2 style="text-align: center">Jorge Velasco</h2>
     			<h3 style="text-align: center">Fabricación</h3>
  			</div>
  		</div>
	</ion-content>
</ion-view>