<ion-view view-title="Lamp Control" ng-controller="LedsCtrl">
  <ion-content>
  	
  	<div class="row">
  		<div class="col">
  			<h1 style="text-align: center">Front side</h1>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col-10">
  			<a class="button button-block" href="#/app/leds_top"><i class="icon ion-chevron-up big big"></i></a>
  		</div>
  		<div class="col">
  		</div>
  	</div>
  

  	<div class="row">
  		<div class="col-10"></div>
		 
		<div class="col-80">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('08')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('07')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('06')" ng-disabled="isConnected() == false"></button>
				</div>
			</div>
		</div>
		<div class="col-10"></div>

	</div>
	<div class="row">
  		<div class="col-10">
  			<a class="button button-block" href="#/app/leds_left"><i class="icon ion-chevron-left big big"></i></ion-icon></a>
  		</div>
		 
		<div class="col-80">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('05')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('04')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('03')" ng-disabled="isConnected() == false"></button>
				</div>
			</div>
		</div>

		<div class="col-10">
			<a class="button button-block " href="#/app/leds_right"><i class="icon ion-chevron-right big"></i></a>
		</div>
	</div>

	<div class="row">
  		<div class="col-10">
    		
  		</div>
		 
		<div class="col-80">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('02')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('01')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('00')" ng-disabled="isConnected() == false"></button>
				</div>
			</div>
		</div>

		<div class="col-10">
			
		</div>
	</div>
	
	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col-10">
  			<a class="button button-block" href="#/app/leds_back"><i class="icon ion-chevron-down big big"></i></a>
  		</div>
  		<div class="col">
  		</div>
  	</div>

  </ion-content>
</ion-view>
