<ion-view view-title="Lamp Control" ng-controller="LedsCtrl">
  <ion-content>
  	<h1>Lamp Control</h1>
  	<div class="row">
  		<div class="col-25">
    	
  		</div>
		 
		<div class="col-50">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('h1')">LED H1</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('h2')">LED H2</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="test('h3')">LED H3</button>
				</div>
			</div>
		</div>

		<div class="col-25">
			
		</div>
	</div>
	<div class="row">
  		<div class="col-25">
    		<a class="button button-block" href="#/app/lampcontrol_side1">SIDE 1</a>
  		</div>
		 
		<div class="col-50">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="test('h4')">LED H4</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="test('h5')">LED H5</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="test('h6')">LED H6</button>
				</div>
			</div>
		</div>

		<div class="col-25">
			<a class="button button-block" href="#/app/lampcontrol_side2">SIDE 2</a>
		</div>
	</div>
	<div class="row">
  		<div class="col-25">
    		
  		</div>
		 
		<div class="col-50">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="test('h7')">LED H7</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="test('h8')">LED H8</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="test('h9')">LED H9</button>
				</div>
			</div>
		</div>

		<div class="col-25">
			
		</div>
	</div>
  </ion-content>
</ion-view>
