<ion-view view-title="Random LED" ng-controller="LedsCtrl" ng-init="initRandomLedCard()">
  <ion-content class="has-header">
	<div class="row">
		<div class="col-10"></div>
		<div class="col-80" style="height: auto;">
			<!--<ion-toggle ng-true-value="'#0'" ng-model="lampStatus.mode" ng-false-value="'#1'" toggle-class="toggle-calm" ng-disabled="isConnected() == false">Mode Listening</ion-toggle>-->
			<a class="button button-block button-dark" ng-disabled="isConnected() == false" ng-click="randomLedOn()">
				<i class="icon ion-plus"></i>
			</a>
			<a class="button button-block button-dark" ng-disabled="isConnected() == false" ng-click="randomLedOff()">
				<i class="icon ion-minus"></i>
			</a>
		</div>
		<div class="col-10"></div>
	</div>
  </ion-content>
</ion-view>