<ion-view view-title="Lamp Control" ng-controller="LedsCtrl">
  <ion-content>
  	
  	<div class="row">
  		<div class="col">
  			<h1>SIDE 4: BACK</h1>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  			
  		</div>
  		<div class="col">
  		</div>
  	</div>
  	

  	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('48')">4_8</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('47')">4_7</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('46')">4_6</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	<div class="row">
  		<div class="col-20">
  			
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('45')">4_5</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('44')">4_4</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('43')">4_3</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>

	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('22')">4_2</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('21')">4_1</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('20')">4_0</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	
	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  			
  		</div>
  		<div class="col">
  		</div>
  	</div>

  </ion-content>
</ion-view>
