<ion-view view-title="Lamp Control" ng-controller="LedsCtrl">
  <ion-content>
  	
  	<div class="row">
  		<div class="col">
  			<h1>SIDE 3: RIGHT</h1>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  			
  		</div>
  		<div class="col">
  		</div>
  	</div>
  	

  	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('38')">3_8</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('37')">3_7</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('36')">3_6</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	<div class="row">
  		<div class="col-20">
  			
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('35')">3_5</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('34')">3_4</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('33')">3_3</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>

	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('32')">3_2</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('31')">3_1</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('30')">3_0</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	
	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  			
  		</div>
  		<div class="col">
  		</div>
  	</div>

  </ion-content>
</ion-view>
