<ion-view view-title="Lamp Control" ng-controller="LedsCtrl">
  <ion-content>
  	
  	<div class="row">
  		<div class="col">
  			<h1>SIDE 1: LEFT</h1>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  			
  		</div>
  		<div class="col">
  		</div>
  	</div>
  	

  	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('18')">1_8</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('17')">1_7</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('16')">1_6</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	<div class="row">
  		<div class="col-20">
  			
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('15')">1_5</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('14')">1_4</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('13')">1_3</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>

	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('12')">1_2</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('11')">1_1</button>
				</div>
				<div class="col">
					<button class="button button-block" ng-click="openLedControls('10')">1_0</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	
	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  			
  		</div>
  		<div class="col">
  		</div>
  	</div>

  </ion-content>
</ion-view>
