<ion-view view-title="Lamp Control" ng-controller="LedsCtrl">
  <ion-content>
  	
  	<div class="row">
  		<div class="col">
  			<h1>SIDE 5: TOP</h1>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">	
  		</div>
  		<div class="col">
  		</div>
  	</div>
  	

  	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('58')">5_8</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('57')">5_7</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('56')">5_6</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	<div class="row">
  		<div class="col-20">

  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('55')">5_5</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('54')">5_4</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('53')">5_3</button>
				</div>
			</div>
		</div>

		<div class="col-20">

		</div>
	</div>

	<div class="row">
  		<div class="col-20">
    		
  		</div>
		 
		<div class="col-60">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('52')">5_2</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('51')">5_1</button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('50')">5_0</button>
				</div>
			</div>
		</div>

		<div class="col-20">
			
		</div>
	</div>
	
	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  		</div>
  		<div class="col">
  		</div>
  	</div>

  </ion-content>
</ion-view>
