<ion-view view-title="Lamp Control" ng-controller="LedsCtrl">
  <ion-content>
  	
  	<div class="row">
  		<div class="col">
  			<h1 style="text-align: center">Top side</h1>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">	
  		</div>
  		<div class="col">
  		</div>
  	</div>
  	

  	<div class="row">
  		<div class="col-10">
    		
  		</div>
		 
		<div class="col-80">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('48')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('47')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('46')" ng-disabled="isConnected() == false"></button>
				</div>
			</div>
		</div>

		<div class="col-10">
			
		</div>
	</div>
	<div class="row">
  		<div class="col-10">

  		</div>
		 
		<div class="col-80">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('45')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('44')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('43')" ng-disabled="isConnected() == false"></button>
				</div>
			</div>
		</div>

		<div class="col-10">

		</div>
	</div>

	<div class="row">
  		<div class="col-10">
    		
  		</div>
		 
		<div class="col-80">
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('42')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('41')" ng-disabled="isConnected() == false"></button>
				</div>
				<div class="col">
					<button class="button button-block button-dark" ng-click="openLedControls('40')" ng-disabled="isConnected() == false"></button>
				</div>
			</div>
		</div>

		<div class="col-10">
			
		</div>
	</div>
	
	<div class="row">
  		<div class="col">
  		</div>
  		<div class="col">
  		</div>
  		<div class="col">
  		</div>
  	</div>

  </ion-content>
</ion-view>
